<!DOCTYPE html>
<html ng-app="musesApp">
<head>
    <title>Top Feed News</title>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>

    <script src="App/App.js"></script>
    <script src="App/Controllers/FeedController.js"></script>
    <script src="App/Factories/FeedFactory.js"></script>

    <link href="Style/FeedView.css" rel="stylesheet" />

</head>
<body>
    <h2>Muses Is Watching You ...</h2>

    <div ng-view="">

    </div>
</body>
</html>
